/* Reset CSS */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box; /* Biar ukuran elemen konsisten */
}

/* Body Styles */
body {
    font-family: 'Poppins', sans-serif; /* Font dan fallback jika Arial nggak ada */
    background-color: #57bd92; /* Warna background body */
    color: #000; /* Warna teks body */
}

/* Header Styles */
header {
    background-color: #fff; /* Warna background header */
    color: #000; /* Warna teks header */
    padding: 10px; /* Jarak antara teks dengan batas elemen header */
    display: flex;
    justify-content: space-between; /* Elemen-elemen header direnggangkan sejajar */
    align-items: center; /* Elemen-elemen header diatur ke tengah */
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1); /* Bayangan di bawah header */
}

/* CSS untuk logo di kiri */
.logo-nav {
    width: 100px; /* Lebar logo navigasi */
    height: auto; /* Tinggi logo menyesuaikan */
}

/* Main Content Styles */
.container {
    max-width: 800px; /* Lebar maksimal konten */
    margin: 20px auto; /* Margin di atas dan bawah konten */
    background-color: #fff; /* Warna background konten */
    padding: 20px; /* Jarak antara konten dengan batas elemen */
    border-radius: 5px; /* Sudut elemen melengkung */
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); /* Bayangan di bawah konten */
}

h1 {
    font-size: 24px; /* Ukuran font judul h1 */
    margin-bottom: 10px; /* Jarak bawah judul h1 */
}

h2 {
    font-size: 18px; /* Ukuran font judul h2 */
    margin-top: 20px; /* Jarak atas judul h2 */
}

section {
    margin-bottom: 30px; /* Jarak bawah section */
    padding: 20px; /* Ruang di dalam section */
    border: 1px solid #000; /* Border dengan warna hitam */
    border-radius: 5px; /* Sudut section melengkung */
    background-color: #fff; /* Warna background section */
}

/* Ringkasan Styles */
.ringkasan-item {
    background-color: #f4f4f4; /* Warna background ringkasan item */
    padding: 10px; /* Ruang di dalam ringkasan item */
    border-radius: 5px; /* Sudut ringkasan item melengkung */
    margin-top: 10px; /* Jarak atas ringkasan item */
}

/* Grafik Styles (Gunakan library CSS atau JavaScript sesuai dengan kebutuhan) */
#grafik {
    width: 100%; /* Lebar grafik 100% dari parent element */
    height: 300px; /* Tinggi grafik */
}

/* logo buat header */
.logo-header {
    width: 700px; /* Lebar logo header, sesuaiin dengan kebutuhan */
    height: auto; /* Biar proporsi gambar terjaga */
}

/* logo buat nav */
.logo-nav {
    width: 300px; /* Lebar logo navigasi, sesuaiin dengan kebutuhan */
    height: auto; /* Biar proporsi gambar terjaga */
    vertical-align: middle;
    float: left;
    margin-top: -12px; /* Atur margin atas logo navigasi agar posisinya pas */
}

/* CSS untuk card view */
.card {
    border: 1px solid #ddd; /* Border dengan warna abu-abu muda */
    border-radius: 5px; /* Sudut card melengkung */
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2); /* Bayangan di bawah card */
    padding: 10px; /* Ruang di dalam card */
    margin-bottom: 20px; /* Jarak bawah card */
    background-color: #fff; /* Warna background card */
}

.card-header {
    background-color: #007BFF; /* Background header card biru */
    color: #fff; /* Warna teks header card */
    padding: 10px; /* Ruang di dalam header card */
    border-top-left-radius: 5px; /* Sudut melengkung pojok kiri atas */
    border-top-right-radius: 5px; /* Sudut melengkung pojok kanan atas */
}

.card-body {
    padding: 10px; /* Ruang di dalam body card */
}

/* Tambahan styling untuk teks Status */
.card strong {
    color: #007BFF; /* Warna teks status biru */
}

/* Tombol close pada card view */
#closeStatusCard {
    float: right; /* Floating ke kanan */
    cursor: pointer; /* Ubah kursor jadi tanda tangan saat di hover */
    font-size: 14px; /* Ukuran font teks tombol close */
    font-weight: bold; /* Tebalin font tombol close */
    color: #fff; /* Warna teks tombol close */
    background-color: #dc3545; /* Background tombol close merah */
    border: none; /* Nggak ada border */
    border-radius: 3px; /* Sudut tombol melengkung */
    padding: 5px 10px; /* Ruang di dalam tombol close */
}

#closeStatusCard:hover {
    background-color: #c82333; /* Warna background tombol close saat di hover */
}

/* Status Server di atas card view */
.status {
    text-align: center; /* Teks posisinya di tengah */
    font-size: 20px; /* Ukuran font status */
    margin-bottom: 10px; /* Jarak bawah status */
    color: #007BFF; /* Warna teks status biru */
}

/* Send Email CSS */
#gambar-down {
    height: 150px; /* Tinggi gambar */
    width: auto; /* Lebar gambar menyesuaikan */
}

.body-down {
    height: 100vh; /* Tinggi elemen 100% tinggi viewport */
    display: flex; /* Menampilkan elemen dalam flex container */
    justify-content: center; /* Posisi elemen di tengah horizontal */
    align-items: center; /* Posisi elemen di tengah vertikal */
    flex-direction: column; /* Tampilkan elemen dalam kolom */
    gap: 10px; /* Jarak antar elemen di dalam flex container */
}

.info-down {
    color: rgb(66, 66, 66); /* Warna teks abu-abu */
}

.info2-down {
    font-size: 20px; /* Ukuran font 20px */
}

/* CSS untuk card view yang baru */
.card-new {
    border: 2px solid #4CAF50; /* Border berwarna hijau */
    border-radius: 10px; /* Sudut card melengkung */
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2); /* Bayangan di bawah card */
    padding: 20px; /* Ruang di dalam card */
    margin-bottom: 40px; /* Jarak bawah card */
    background-color: #f7f7f7; /* Warna background card */
}

.card-new2 {
    border: 2px solid #ff0000; /* Border berwarna hijau */
    border-radius: 10px; /* Sudut card melengkung */
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2); /* Bayangan di bawah card */
    padding: 20px; /* Ruang di dalam card */
    margin-bottom: 40px; /* Jarak bawah card */
    background-color: #f7f7f7; /* Warna background card */
}

.card-new .card-header {
    background-color: #4CAF50; /* Background header card hijau */
    color: #fff; /* Warna teks header card */
    padding: 15px; /* Ruang di dalam header card */
    border-radius: 8px; /* Sudut melengkung pojok header card */
    text-align: center; /* Teks di tengah horizontal */
    font-size: 18px; /* Ukuran font header card */
}

.card-new .card-body {
    padding: 15px; /* Ruang di dalam body card */
}

.card-new h5 {
    font-size: 16px; /* Ukuran font judul h5 */
    margin-bottom: 15px; /* Jarak bawah judul h5 */
}

.card-new p {
    font-size: 14px; /* Ukuran font teks paragraf */
    margin-bottom: 0; /* Jarak bawah paragraf 0 */
}

/* CSS untuk teks "Status: Online" dan "Details: Server is running smoothly." */
.card-new strong {
    color: #4CAF50; /* Warna teks strong hijau */
    font-weight: bold; /* Tebalin teks */
}

/* Tambahan styling untuk teks Status */
.card-new .status {
    text-align: center; /* Teks di tengah horizontal */
    font-size: 18px; /* Ukuran font status */
    margin-bottom: 15px; /* Jarak bawah status */
    color: #4CAF50; /* Warna teks status hijau */
}

/* CSS untuk card view yang offline */
.card-offline .card-header {
    background-color: #fc0019; /* Background header card merah (offline) */
}

.card-offline strong {
    color: #ff0019; /* Warna teks strong merah (offline) */
}
/* CSS untuk status check */
.status-check {
    text-align: center; /* Teks di tengah horizontal */
    font-size: 14px; /* Ukuran font status check */
    color: #6c757d; /* Warna teks status check (abu-abu) */
    margin-top: 10px; /* Jarak atas status check dari paragraf sebelumnya */
}

/* CSS untuk tombol cek */
.btncheck {
    background-color: #4CAF50; /* Warna background hijau */
    position: relative;
    left: 150%;
    color: white; /* Warna teks putih */
    border: none; /* Tanpa border */
    padding: 10px 20px; /* Padding atas dan bawah 10px, kiri dan kanan 20px */
    text-align: center; /* Teks di tengah horizontal */
    text-decoration: none; /* Tanpa dekorasi teks (misalnya underline) */
    display: inline-block; /* Membuat tombol berbentuk kotak */
    font-size: 16px; /* Ukuran font 16px */
    border-radius: 5px; /* Sudut melengkung pojok tombol */
    transition: background-color 0.3s; /* Efek transisi pada perubahan warna latar belakang */
    cursor: pointer; /* Kursor berbentuk tangan saat diarahkan ke tombol */
}
.btncheck1 {
    background-color: #4CAF50; /* Warna background hijau */
    color: white; /* Warna teks putih */
    border: none; /* Tanpa border */
    padding: 10px 20px; /* Padding atas dan bawah 10px, kiri dan kanan 20px */
    text-align: center; /* Teks di tengah horizontal */
    text-decoration: none; /* Tanpa dekorasi teks (misalnya underline) */
    display: inline-block; /* Membuat tombol berbentuk kotak */
    font-size: 16px; /* Ukuran font 16px */
    border-radius: 5px; /* Sudut melengkung pojok tombol */
    transition: background-color 0.3s; /* Efek transisi pada perubahan warna latar belakang */
    cursor: pointer; /* Kursor berbentuk tangan saat diarahkan ke tombol */
}
/* Efek hover untuk tombol cek */
.btncheck:hover {
    background-color: #45a049; /* Warna background hijau yang sedikit lebih gelap saat dihover */
}

#interval{
    margin: 0 10px;
    height: 30px;
}

